# requirements.txt
biopython==1.79
MDAnalysis[analysis]
plyfile

loguru

numpy
scipy
pandas
biopython
prody
spyrmsd
rdkit-pypi
tokenizers
transformers
huggingface-hub
wandb
e3nn
scikit-learn
accelerate
prefetch-generator==1.0.3     # solves “No matching distribution” on Py-3.10
